<div class="col-md-12 mapper-mapping-item">
    <strong>Test</strong>

    <a href="javascript:;" class="fa fa-times mapper-mapping-remove"></a>
    <div class="clearfix"><!-- --></div>
    <span> Test / Test / Test / Test</span>
    <a href="javascript:;" class="mapper-mapping-main">Is main</a>
</div>