<div class="col-md-12 mapper-item" data-slug="{{ item.slug }}">
    <strong>{{ item.name }}</strong>
    <input type="hidden" name="mapper_item[]" value="{{ item.slug }}">
    <a href="javascript:;" class="fa fa-times mapper-remove"></a>
    <div class="clearfix"><!-- --></div>
    <span> Test / Test / Test / Test</span>
    <a href="javascript:;" class="mapper-main">Is main</a>
</div>