<div id="mapper-content">
    <div class="col-md-3 mapper-block">
        {{ mapper_render(mapper.leftSource, 'left') }}
    </div>
    <div class="col-md-6 mapper-block mapper-form">
    </div>
    <div class="col-md-3 mapper-block">
        {{ mapper_render(mapper.rightSource, 'right') }}
    </div>
</div>