.mapper-content .mapper-item {
    border: 1px solid #DDDDDD;
    height: 50px;
    padding: 5px;
    margin-bottom: 5px;
}

.mapper-content .mapper-item strong {
    font-size: 14px;
}

.mapper-content .mapper-item span, .mapper-content .mapper-item .mapper-main {
    font-size: 12px;
}

.mapper-content .mapper-item a {
    float: right;
}

.mapper-content .mapper-item .mapper-remove {
    color: #000000;
}

.mapper-content .mapper-item .mapper-main {
    margin-top: 5px;
}

.mapper-drop-place {
    background: #DDDDDD;
    height: 60px;
    margin-bottom: 5px;
}

.mapper-drop-place p {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.mapper-content .mapper-button {
    padding: 0;
}

.mapper-content .mapper-item-error {
    border: 2px solid #b81900;
    text-align: center;
}

.mapper-content .mapper-item-error p {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
}

.mapper-content .mapper-item input[type="radio"], .mapper-content .is-main .mapper-main {
    display: none;
}

.mapper-content .is-main {
    border: 2px solid #df8505;
}