.mapper-block {
    border: 1px solid #DDDDDD;
    min-height: 300px;
    max-height: 600px;
    padding: 10px;
    overflow: auto;
}

.mapping-error {
    border: 2px solid #b81900;
    text-align: center;
    margin-bottom: 10px;
}

.mapping-error p {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
}

.mapping-form .mapping-button {
    padding: 0;
}

.mapping-form .mapping-drop-place {
    background: #DDDDDD;
    height: 60px;
    margin-bottom: 5px;
}

.mapping-form .mapping-drop-place p {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.mapping-collection .mapping {
    border: 1px solid #DDDDDD;
    min-height: 60px;
    padding: 10px;
    margin-bottom: 5px;
}

.mapping-collection .mapping strong {
    font-size: 14px;
}

.mapping-collection .mapping .item {
    display: none;
}

.mapping-collection .mapping .remove {
    color: #000000;
    float: right;
}

.mapping-collection .mapping .main {
    float: right;
}

.mapping-collection .mapping.is-main {
    border: 2px solid #df8505;
}
