{% extends 'TadckaMapperBundle::layout.html.twig' %}

{% block content %}
    <div id="mapper-tree">
        <div class="col-md-3">
            {% include 'TadckaMapperBundle:Tree:left.html.twig' with {left: left} %}
        </div>
        <div class="col-md-6">
            {% include 'TadckaMapperBundle:Mapper:content.html.twig' %}
        </div>
        <div class="col-md-3">
            {% include 'TadckaMapperBundle:Tree:right.html.twig' with {right: right} %}
        </div>
    </div>

{% endblock %}