{% extends 'TadckaMapperBundle::layout.html.twig' %}

{% block content %}
    <div class="row" id="mapper-tree">
        {% include 'TadckaMapperBundle:Tree:left.html.twig' with {tree: left, source_slug: left_source_slug} %}
        {% include 'TadckaMapperBundle:Mapper:content.html.twig' %}
        {% include 'TadckaMapperBundle:Tree:right.html.twig' with {tree: right, source_slug: right_source_slug} %}
    </div>
{% endblock %}